<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    name="c:geo"
    android:installLocation="auto"
    package="cgeo.geocaching"
    android:versionCode="20120104"
    android:versionName="04.01.2012" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name=".cgeoapplication"
        android:backupAgent="cgeo.geocaching.backup.CentralBackupAgent"
        android:icon="@drawable/cgeo"
        android:label="@string/app_name"
        android:theme="@style/cgeo" >
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".cgeoadvsearch" />
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIsvD_aUSDMwWOf9NkwwxZ4kJJI_AG2EaxjSu2jw" />

        <activity
            android:name=".cgeo"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@style/cgeo.main"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cgeoadvsearch"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOADVSEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".cgeopopup"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@style/cgeo.dark.dialog"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOPOPUP" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cgeoabout"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOABOUT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UsefulAppsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOHELPERS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".twitter.TwitterAuthorizationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOAUTH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cgeowaypointadd"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOWAYPOINTADD" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cgeowaypoint"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOWAYPOINT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cgeopoint"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOPOINT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cgeoaddresses"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOADDRESSES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cgeoinit"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOINIT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cgeocaches"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOCACHES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/xml" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-compressed" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/x-zip" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.gpx" />
                <data android:pathPattern=".*\\.zip" />
            </intent-filter>
        </activity>
        <activity
            android:name=".maps.google.GoogleMapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOMAP" />
            </intent-filter>
        </activity>
        <activity
            android:name=".maps.mapsforge.MapsforgeMapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOMAP" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaticMapsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOSMAPS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cgeologs"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOLOGS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VisitCacheActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOVISIT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cgeotouch"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOTOUCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cgeoimages"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOSPOILERS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CacheDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEODETAIL" />
            </intent-filter>
            <intent-filter>
                <action android:name="wikitudeapi.arcallback" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="coord.info"
                    android:pathPrefix="/GC"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="geocaching.com"
                    android:pathPrefix="/seek/cache_details.aspx"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.geocaching.com"
                    android:pathPrefix="/seek/cache_details.aspx"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cgeotrackable"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOTRACKABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="coord.info"
                    android:pathPrefix="/TB"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="geocaching.com"
                    android:pathPrefix="/track/details.aspx"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.geocaching.com"
                    android:pathPrefix="/track/details.aspx"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cgeonavigate"
            android:label="@string/app_name_compass"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEONAVIGATE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cgeogpxes"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOGPXES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cgSelectMapfile"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="cgeo.geocaching.CGEOSELMAP" />
            </intent-filter>
        </activity>

        <provider
            android:name="cgeo.geocaching.apps.LocusDataStorageProvider"
            android:authorities="cgeo.geocaching.apps.locusdatastorageprovider" />
    </application>

</manifest>